{% extends "base.html"%}
{% block page_content %}
  <h1 id= "blue_tag" class= "text-primary  display-2 d-none  d-md-block jumbotron">Hanoi muaThu</h1>
<div class="container">
  <table class="table table-stripped">

    <thead>
    <th> #</th>
    <th> Types</th>
    <th>Description</th>
    <th>Image </th>
    <th>Action</th>
    </thead>


    <tbody>
      {% for girl_type in girl_types %}
      <tr>
<td>{{ loop.index }}</td>
<td>{{ girl_type.name }}</td>
<td>{{ girl_type.description }}</td>
<td><a target= "_ blank" href="{{girl_type.image}}">Image Here</a></td>
<td><a href="/delete_girl_type/{{girl_type.id}}">  <i class="fa fa-snowflake-o" aria-hidden="true"></i></a></td>
<td><a href="#"> <i class="fa fa-adjust" aria-hidden="true"></i></a></td>

      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}
