<!DOCTYPE html>
{% extends "navbar.html"%}



{% block navbar %}
    <div class="container">
      <div class="row">

          <div class="col-md-3 col-sm-6 m*-3 background">

            <p>Danh mục sách</p>
              <button type="submit" class="btn btn-warning">Sách học tập</button>
              <br>
                <button type="submit" class="btn btn-warning">Sách giải trí</button>
                  <button type="submit" class="btn btn-warning">Sách chuyên ngành</button>



        </div>

        {% for book in books %}
          <div class=" col-md-2 col-sm-6 m*-3 ">
                <div class="card-girl-type card mb-4">
            <img src="{{ book["image"] }}" alt=""  class="m*-4  img-fluid card-img-top card-book-img">
            <div class="card-body">
              <h4 class="card-tilte">{{ book["name"] }}</h4>
            <!-- <p>{{ book["description"] }}</p> -->
          </div>
            <div class="card-footer">
              <form class="" action="/ChooseBook/{{book.id}}" method="get">
        <button type="submit" class="btn btn-primary">Chi tiet</button>
      </form>

      <form class="" action="{{ url_for ('edit', book_id=book.id)}}" method="get">
<button type="submit" class="btn btn-primary">Fix</button>
</form>
            </div>
          </div>
          </div>

        {% endfor %}
        <a href=""></a>
      </div>
    </div>
{% endblock %}



<!--
<div class="jumbotron-fruid container">
  <div class="row">

  <div class="col md 2">
    <i class="fa fa-address-book-o" aria-hidden="true"></i>
<p>1 Nguyễn Văn Ngọc </p>
    <i class="fa fa-envelope-open" aria-hidden="true"></i>

<p>Fb: hadonggiang1810@gmail.com </p>
    <i class="fa fa-handshake-o" aria-hidden="true"></i>
<p>Contact us in: Hanoi</p>
  </div>

<div class="col md 3">
<p>ádasdsadasda</p>
</div>
    </div>
</div>
 -->



</html>
