<!DOCTYPE html>
{% extends "navbar.html"%}



{% block navbar %}
    <div class="container">
      <div class="row">


        {% for book in books %}

          <div class=" col-md-2 col-sm-6 m*-3 ">
      <button type="submit" class="btn btn-primary">Thẻ </button>
    <div class="">
      {% for i in range(10) %}
      <h6> Khác các cái khác:  {{ book["number"] }}</h6>
      {% endfor %}
      <h5>Giống: 100</h5>
    </div>

          </div>


          </div>
          </div>

        {% endfor %}
        <a href=""></a>
      </div>
    </div>
{% endblock %}




</html>
